.card {
    margin: 2rem;
    width: 90%;
    height: auto;
}

.subtitle {
    margin-top:  1rem;
    margin-bottom: .3rem;
}

.warning {
    margin-top: .1 rem;
    background-color: #e4a5ba;
    color: #cc4747;
}


